<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/login.css">
    <link rel="icon" type='image/png' href="../static/img/logo.jpeg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Command Car</title>
</head>
<body>

    <div class="container">
       
           <h2 class="texto_C">CADASTRA</h2>
           
        <form id="signin">
        <input class="nome" type="text" placeholder="Nome" required />
          <input type="email" placeholder="Email" required />
         
          <input type="password" placeholder=" Criar Senha" required />
         
          <input type="password" placeholder=" Confirmar Senha" required />
         
          <button type="submit"><a href="index.html"> CONFIRMAR CADASTRO</a></button>
        </form>
    
   
       
      
      </div>
 
</body>

</html>