<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type='image/png' href="../static/img/logo.jpeg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Command Car</title>
</head>
<body>
  <aside id='header'>
    <section class="command">
        <img src="../static/img/logo.jpeg" alt="Foto perfil">
        <h1>Command Car</h1>
        <div class="social-links mt-4 text-center">
            <a target="_blank" href="#">
                <i class="bi bi-facebook"></i>
            </a>
            <a target="_blank" href="#">
                <i class="bi bi-whatsapp"></i>
            </a>
            <a target="_blank" href="#">
                <i class="bi bi-envelope"></i>
            </a>
            <a target="_blank" href="#">
                <i class="bi bi-instagram"></i>
            </a>
        </div>
    </section>

    <nav id='navbar' class="nav-menu">
        <ul class="nav flex-column">
              
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html"><i class="bi bi-house"
                        aria-hidden="true"></i> Inicio</a>
            </li>
           
            <li class="nav-item"id="passar_mouse">
              <a class="nav-link"  href="catalogo.html"><i class="bi bi-grid-fill"></i>Catalogo</a> 

            </li> 
            <li class="nav-item"id="passar_mouse">
              <a class="nav-link" href="servicos.html"><i class="bi bi-tools"></i>Serviços</a> 
               
            </li> 
           
           
            <li class="nav-item">
              <button> <a class="nav-link" href="login.html"><i class="bi bi-info" aria-hidden="true"></i> Login</a></button>
          </li>
        </ul>
    </nav>
</aside>
  
<main id="estoque">
  <section class="catalog" id="catalog">
      
      
        <section id="carros-n">
          
   <div class="content">
        <div class="title-wrapper-catalog">
         
          <h1 id="textc">Catalogo</h1>
        </div>
        <br>
        <div class="filter-card">
          <input
            type="text"
            class="search-input"
            placeholder="Pesquise seu carro..."
          />
          <button class="search-button"> <i class="bi bi-search"></i>Search</button>
        </div>
        <br>
      </div>
          <div id="textc">
              <h2>Carros Hatch</h2>
          </div>
           
           <section class="catalog" id="catalog">
               <div class="content">
                 <div class="card-wrapper">
                   <div class="card-item">
                     <img src="../static/img/c3.jpg"width="400px" alt="Car" />
                     <div class="card-content">
                       <h3>Volkswagen Polo 1.0 Highline</h3>
                       <p>
                        
                       </p>
                       <a href="compra.html"><button type="button">Agendamento TEST-DRIVE!</button></a> 
                     </div>
                   </div>
                   <div class="card-item">
                     <img src="../static/img/c7.jpg"width="400px" alt="Car" />
                     <div class="card-content">
                       <h4>Yaris Hatch XL - Toyota</h4>
                       <p>
                        
                       </p>
                       <a href="compra.html"><button type="button">Agendamento TEST-DRIVE!</button></a> 
                     </div>
                   </div>
                   <div class="card-item">
                     <img src="../static/img/polo.jpg"width="400px" alt="Car" />
                     <div class="card-content">
                       <h4>Volkswagen Polo 1.4 Gts Automático </h4>
                       <p>
                       
                       </p>
                       <a href="compra.html"><button type="button">Agendamento TEST-DRIVE!</button></a> 
                     </div>
                   </div>
                   <div class="card-item">
                     <img src="../static/img/golf.jpg"width="400px" alt="Car" />
                     <div class="card-content">
                       <h3> Volkswagen Golf 2.0 Tsi Gti</h3>
                       <p>
                     
                       </p>
                       <a href="compra.html"><button type="button">Agendamento TEST-DRIVE!</button></a> 
                     </div>
                   </div>
                   <div class="card-item">
                       <img src="../static/img/c2.jpg"width="400px" alt="Car" />
                       <div class="card-content">
                         <h3> Onix RS </h3>
                        
                         <a href="compra.html"><button type="button">Agendamento TEST-DRIVE!</button></a> 
                       </div>
                     </div>
                     <div class="card-item">
                       <img src="../static/img/140i.jpg"width="400px" alt="Car" />
                       <div class="card-content">
                         <h3> Bmw M 140i  </h3>
                         
                         <a href="compra.html"><button type="button">Agendamento TEST-DRIVE!</button></a> 
                       </div>
                     </div>
                 </div>
               </div>
           
               </section>
   
          
      <div id="textc">
        <h2 >Carros Sedan</h2>
        </div>
        <section class="catalog" id="catalog">
            <div class="content">
              <div class="card-wrapper">
                <div class="card-item">
                  <img src="../static/img/c4.jpeg"width="400px" alt="Car" />
                  <div class="card-content">
                    <h3>Volkswagen Virtus 2021 Highline </h3>
                  
                    <a href="compra.html"><button type="button">Agendamento TEST-DRIVE!</button></a> 
                  </div>
                </div>
                <div class="card-item">
                  <img src="../static/img/c1.jpg"width="400px" alt="Car" />
                  <div class="card-content">
                    <h4>Onix Plus </h4>
                    
                    <a href="compra.html"><button type="button">Agendamento TEST-DRIVE!</button></a> 
                  </div>
                </div>
                <div class="card-item">
                  <img src="../static/img/c5.jpg"width="400px" alt="Car" />
                  <div class="card-content">
                    <h4>Honda Civic 1.5 16v Turbo Gasolina Touring</h4>
                  
                    <a href="compra.html"><button type="button">Agendamento TEST-DRIVE!</button></a> 
                  </div>
                </div>
                <div class="card-item">
                  <img src="../static/img/c11.jpeg"width="400px" alt="Car" />
                  <div class="card-content">
                    <h3>Bmw 330i 2.0 16v Turbo Gasolina M Sport </h3>
                    
                    <a href="compra.html"><button type="button">Agendamento TEST-DRIVE!</button></a> 
                  </div>
                </div>
                <div class="card-item">
                    <img src="../static/img/c12.jpg"width="400px" alt="Car" />
                    <div class="card-content">
                      <h3>Mercedes-benz Cla 45 Amg  turbo</h3>
                    
                      <a href="compra.html"><button type="button">Agendamento TEST-DRIVE!</button></a> 
                    </div>
                  </div>
                  <div class="card-item">
                    <img src="../static/img/c15.jpeg"width="400px" alt="Car" />
                    <div class="card-content">
                      <h3>AUDI RS7-R SPORTBACK BY ABT</h3>
                    
                      <a href="compra.html"><button type="button">Agendamento TEST-DRIVE!</button></a> 
                    </div>
                  </div>
              </div>
            </div>
        </section>
              
      <div id="textc">
        <h2 >Carros SUV</h2>
        </div>
        <section class="catalog" id="catalog">
            <div class="content">
              <div class="card-wrapper">
                <div class="card-item">
                  <img src="../static/img/audiq8.jpg"width="400px" alt="Car" />
                  <div class="card-content">
                    <h3>Audi Q8 Performance Black</h3>
                    
                    <a href="compra.html"><button type="button">Agendar TEST-DRIVE!</button></a> 
                  </div>
                </div>
                <div class="card-item">
                  <img src="../static/img/c8.jpeg"width="400px" alt="Car" />
                  <div class="card-content">
                    <h4>Mitsubishi Pajero Sport </h4>
                    
                    <a href="compra.html"><button type="button">Agendar TEST-DRIVE!</button></a> 
                  </div>
                </div>
                <div class="card-item">
                  <img src="../static/img/c9.jpg"width="400px" alt="Car" />
                  <div class="card-content">
                    <h4> TOYOTA SW4 GR-SPORT 2022 </h4>
                    
                    <a href="compra.html"><button type="button">Agendamento TEST-DRIVE!</button></a> 
                  </div>
                </div>
                <div class="card-item">
                  <img src="../static/img/lamborghini-urus.jpg"width="400px" alt="Car" />
                  <div class="card-content">
                    <h3> Lamborghini Urus </h3>
                    
                    <button type="button"><a href="compra.html">Agendamento TEST-DRIVE!</a> </button>
                  </div>
                </div>
                <div class="card-item">
                    <img src="../static/img/range.jpg"width="400px" alt="Car" />
                    <div class="card-content">
                      <h3> 
                        Land Rover Range Rover Velar 2021 </h3>
                      
                      <a href="compra.html"><button type="button">Agendamento TEST-DRIVE!</button></a> 
                    </div>
                  </div>
                  <div class="card-item">
                    <img src="../static/img/nivus.jpg"width="400px" alt="Car" />
                    <div class="card-content">
                      <h3> 
                         VW Nivus Highline 2022:</h3>
                      
                      <a href="compra.html"><button type="button">Agendamento TEST-DRIVE!</button></a> 
                    </div>
                  </div>
              </div>
            </div>
        </section>
    
          <div id="textc">
              <h2>Carros Esportivos</h2>
                        </div>
                        <section class="catalog" id="catalog">
                            <div class="content">
                              <div class="card-wrapper">
                                <div class="card-item">
                                  <img src="../static/img/c14.jpeg"width="400px" alt="Car" />
                                  <div class="card-content">
                                    <h3>· Audi R8 v8 2022</h3>
                                  
                                    <a href="compra.html"><button type="button">Agendamento TEST-DRIVE!</button></a> 
                                  </div>
                                </div>
                                <div class="card-item">
                                  <img src="../static/img/m3.jpeg"width="400px" alt="Car" />
                                  <div class="card-content">
                                    <h4>
                                       BMW M3 Competition Track </h4>
                                  
                                    <a href="compra.html"><button type="button">Agendamento TEST-DRIVE!</button></a> 
                                  </div>
                                </div>
                                <div class="card-item">
                                  <img src="../static/img/m4.webp"width="400px" alt="Car" />
                                  <div class="card-content">
                                    <h4>m4 competition </h4>
                                  
                                    <a href="compra.html"><button type="button">Agendamento TEST-DRIVE!</button></a> 
                                  </div>
                                </div>
                                <div class="card-item">
                                  <img src="../static/img/m2.jpg"width="400px" alt="Car" />
                                  <div class="card-content">
                                    <h3> m2 competition </h3>
                                  
                                    <a href="compra.html"><button type="button">Agendamento TEST-DRIVE!</button></a> 
                                  </div>
                                </div>
                                <div class="card-item">
                                    <img src="../static/img/mustang.jpg"width="400px" alt="Car" />
                                    <div class="card-content">
                                      <h3>mustang mach 1 </h3>
                                    
                                      <a href="compra.html"><button type="button">Agendamento TEST-DRIVE!</button></a> 
                                    </div>
                                  </div>
                                  <div class="card-item">
                                    <img src="../static/img/camaro.webp"width="400px" alt="Car" />
                                    <div class="card-content">
                                      <h3> Camaro ZL1 </h3>
                                      
                                      <a href="compra.html"><button type="button">Agendamento TEST-DRIVE!</button></a> 
                                    </div>
                                  </div>
                              </div>
                            </div>
                        </section>
                    <div id="textc">
                        <h2>Carros Picape</h2>
                        </div>
                        <section class="catalog" id="catalog">
                            <div class="content">
                              <div class="card-wrapper">
                                <div class="card-item">
                                  <img src="../static/img/amarok.jpg"width="400px" alt="Car" />
                                  <div class="card-content">
                                    <h3>amarok v6</h3>

                                    <a href="compra.html"><button type="button">Agendamento TEST-DRIVE!</button></a> 
                                  </div>
                                </div>
                                <div class="card-item">
                                  <img src="../static/img/c6.jpeg"width="400px" alt="Car" />
                                  <div class="card-content">
                                    <h4>Fiat Toro Volgano </h4>
                                  
                                    <a href="compra.html"><button type="button">Agendamento TEST-DRIVE!</button></a> 
                                  </div>
                                </div>
                                <div class="card-item">
                                  <img src="../static/img/c10.jpg"width="400px" alt="Car" />
                                  <div class="card-content">
                                    <h4>
                                      Toyota Hilux SRX 2.8 Turbo </h4>
                                    
                                    <a href="compra.html"><button type="button">Agendamento TEST-DRIVE!</button></a> 
                                  </div>
                                </div>
                                <div class="card-item">
                                  <img src="../static/img/ram1500.jpg"width="400px" alt="Car" />
                                  <div class="card-content">
                                    <h3> ram 15000 rebel </h3>
                                  
                                    <a href="compra.html"><button type="button">Agendamento TEST-DRIVE!</button></a> 
                                  </div>
                                </div>
                                <div class="card-item">
                                    <img src="../static/img/strada.webp"width="400px" alt="Car" />
                                    <div class="card-content">
                                      <h3> Fiat strada volcano </h3>
                                    
                                      <a href="compra.html"><button type="button">Agendamento TEST-DRIVE!</button></a> 
                                    </div>
                              </div>
                           <div class="card-item">
                         <img src="../static/img/VW-Saveiro-Cross-2017 (3).JPG"width="400px" alt="Car" />
                       <div class="card-content">
                     <h3>saveiro cross </h3>             
                   <a href="compra.html"><button type="button">Agendamento TEST-DRIVE!</button></a> 
                </div>
               </div>
               </div>
              </div>
           </section>
                           
       </section>
     
   </main>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>