<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type='image/png' href="../static/img/logo.jpeg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Command Car</title>
</head>

<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id='header'>
        <section class="command">
            <img src="../static/img/logo.jpeg" alt="Foto perfil">
            <h1>Command Car</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="#">
                    <i class="bi bi-facebook"></i>
                </a>
                <a target="_blank" href="#">
                    <i class="bi bi-whatsapp"></i>
                </a>
                <a target="_blank" href="#">
                    <i class="bi bi-envelope"></i>
                </a>
                <a target="_blank" href="#">
                    <i class="bi bi-instagram"></i>
                </a>
            </div>
        </section>

        <nav id='navbar' class="nav-menu">
            <ul class="nav flex-column">
                  
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="index.html"><i class="bi bi-house"
                            aria-hidden="true"></i> Inicio</a>
                </li>
               
                <li class="nav-item"id="passar_mouse">
                  <a class="nav-link" href="catalogo.html"><i class="bi bi-grid-fill"></i>Catalogo</a> 
                   
                </li> 
                <li class="nav-item"id="passar_mouse">
                    <a class="nav-link" href="servicos.html"><i class="bi bi-tools"></i>Serviços</a> 
                     
                  </li> 
               
                <li class="nav-item">
                    <a class="nav-link" href="#destaques"><i class="bi bi-award"></i>
                        Destaques</a>
                </li>               
                <li class="nav-item">
                    <a class="nav-link" href="#contato"><i class="bi bi-envelope" aria-hidden="true"></i> Contato</a>
                </li>
               
                <li class="nav-item">
                  <button> <a class="nav-link" href="login.html"><i class="bi bi-info" aria-hidden="true"></i> Login</a></button>
              </li>
            </ul>
        </nav>
    </aside>
    
   

    <main id="main">

        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Command Car</h2>
                <span id="subtitle" class="text-white text-shadow">Venha Adquirir seu carro novo aqui!!!</span>
            </div>
           

            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arrate para mais</a>
                </div>

            </div>

        </section>

        <section class=" " id="servir">

            <h2 data-anime="up"> Command Car</h2>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col"data-anime="left" >
                  <div class="card h-100 ">
                    <img src="../static/img/servicos.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"> Serviços</h5>
                      <p class="card-text">Descubra todos os serviços que temos disponíveis e agende agora mesmo uma visita.</p>
                    </div>
                  </div>
                </div>
                <div class="col" data-anime="up" >
                  <div class="card h-100">
                    <img src="../static/img/catalogo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                     <h5 class="card-title">Catalogo</h5>
                      <p class="card-text">Venha conferir nosso Catalogo.</p>
                    </div>
                  </div>
                </div>
                <div class="col" data-anime="up">
                  <div class="card h-100">
                    <img src="../static/img/NossaNovidades!.png" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Venha conferir nossas novidades</h5>
                      <p class="card-text">Seu Sonho Sera Realizado Aqui.</p>
                    </div>
                  </div>
                </div>
                
           
        </section>
        <section class="mt-5 cv" id="conteudo">
                      
            <div class="container pb-5">
                <h2 id="txte" class="pt-3 pb-4">Novidades Do Estoque</h2>

                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">Seminovos</h3>

                        <div class='cv-item' data-anime="up">
                            <img src="../static/img/golf.jpg" width="300px" alt="">
                            <h5>VOLKSWAGEN GOLF
                                2.0 TSI GTI 16V TURBO GASOLINA 4P AUTOMÁTICO 2015</h5>
                            <p><em>Itens de veículo
                                Airbag
                                Alarme
                                Ar quente
                                Banco com regulagem de altura
                                CD Player
                                Computador de bordo
                                Desembaçador traseiro
                                Ar condicionado
                                Encosto de cabeça traseiro
                                Freio ABS
                                Limpador traseiro
                                Controle automático de velocidade
                                Retrovisor fotocrômico
                                Volante com regulagem de altura
                                Direção hidráulica
                                </em></p>
                        
                        </div>

                        <div class='cv-item' data-anime="up">
                            <img src="../static/img/amarok.jpg" width="300px" alt="">
                            <h5>VOLKSWAGEN AMAROK
                                2.0 COMFORTLINE 4X4 CD 16V TURBO INTERCOOLER DIESEL 4P AUTOMÁTICO 2019</h5>
                            <p><em>Airbag
                                Alarme
                                Ar quente
                                Banco com regulagem de altura
                                CD Player
                                Computador de bordo
                                Controle de tração
                                Ar condicionado
                                Encosto de cabeça traseiro
                                Freio ABS
                                Controle automático de velocidade
                                Rádio
                                Retrovisores elétricos
                                Rodas de liga leve
                                Travas elétricas
                                Vidros elétricos
                                Volante com regulagem de altura
                                Capota marítima
                                Tração 4x4
                                Direção hidráulica
                                CD e MP3 Player
                                </em></p>
                        </div>

                        <div class='cv-item' data-anime="up">
                            <img src="../static/img/polo.jpg" width="300px" alt="">
                            <h5>Volkswagen Polo 200 TSI Highline (Aut) (Flex) 2019</h5>
                            <p><em> 
                                Flex, Final da placa 6
 freios ABS
 ar-condicionado, travas elétricas, câmbio automático
 Kit Multimídia
Outros opcionais:
farol de neblina, rodas de liga leve
                                Ano
                                2018 / 2019 
                                Km
                                54.399
                                 
                                Cor
                                Preto
                                 
                                Câmbio
                                automático
                                 
                                Portas
                                4</em></p>
                            
                        </div>

                    </div>
                    <div class="col-md-6">
                        <h3 class="cv-title">Veiculos 0km</h3>

                        <div class='cv-item' data-anime="up">
                            <img src="../static/img/nivus.jpg" width="300px" alt="">
                            <h5>Volkswagen Nivus 1.0 200 TSI Highline 2021
                            </h5>
                            <p><em> Flex, Final da placa 1
                                airbag motorista, alarme, freios ABS, airbag passageiro, airbag lateral, distribuição eletrônica de frenagem
                                ar-condicionado, direção hidráulica, travas elétricas, retrovisores elétricos, câmbio automático, ar-quente, piloto automático, volante com regulagem de altura, direção elétrica, trio eletrico
                                Kit Multimídia, entrada USB, rádio FM/AM
                                bancos de couro
                                vidros elétricos dianteiros, limp. traseiro, desemb. traseiro, vidros elétricos traseiros</em></p>
                           
                        </div>

                        <div class='cv-item' data-anime="up">
                            <img src="../static/img/onix.jpeg" width="300px" alt="">
                            <h5>Chevrolet Onix 1.0 Turbo RS (Aut) 2021</h5>
                            <p><em>Flex, Final da placa 0
                                distribuição eletrônica de frenagem, airbag motorista, alarme, freios ABS, airbag passageiro, airbag lateral
                                direção elétrica, volante com regulagem de altura, ar-condicionado, direção hidráulica, travas elétricas, retrovisores elétricos, câmbio automático, piloto automático
                                vidros elétricos dianteiros, limp. traseiro, desemb. traseiro, vidros elétricos traseiros</em></p>
                           
                        </div>

                        <div class='cv-item' data-anime="up">
                             <img src="../static/img/civic.jpg" width="300px" alt="">
                            <h5>Honda Civic 1.5 Turbo Touring CVT 2021 </h5><p><em>Gasolina, Final da placa 9
                                airbag motorista, alarme, freios ABS, airbag passageiro, controle de tração
                                ar-condicionado, volante com regulagem de altura, retrovisores elétricos, câmbio automático
                                Kit Multimídia, entrada USB
                                ajuste de altura, bancos de couro
                                desemb. traseiro, teto solar</em></p>
                            
                            
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section id="destaques" class="section-bg mt-5">
            <div class="container pb-5 pt-5" data-anime="left">

                <h2 class="pb-4">Destaques</h2>

                <div id="carouselPortfolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">

                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/Bugatti.jpg" class="card-img-top"
                                            alt="Plataforma educacional">
                                        <div class="card-body">
                                            <h5 class="card-title">Bugatti La Voiture Noire custa R$ 67 milhões 
                                                 será entregue em 2021</h5>
                                            <p class="card-text">O La Voiture Noire (“o carro preto” em francês) foi criado com base no Chiron para 
                                                homenagear o modelo Type 57 SC Atlantic, de 1936, projetado pessoalmente por Jean Bugatti. O modelo novo traz vários adereços que remetem ao clássico, como o entre-eixos estendido, 
                                                a carroceria musculosa e o interior feito de couro marrom</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://carros.ig.com.br/2021-06-05/bugatti-la-voiture-noire-custa-r--67-milhoes-e-sera-entregue-em-2021.html" target='_blank'
                                                    class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/Lamborghini-Aventador-SVJ-1.jpg" class="card-img-top img-fluid w-100"
                                            alt="print do blog">
                                        <div class="card-body">
                                            <h5 class="card-title">Aventador SVJ</h5>
                                            <p class="card-text">A Lamborghini criou o Aventador SVJ para enfrentar os desafios de frente, combinando tecnologia de ponta com design extraordinário, sempre se recusando a fazer concessões. Em um futuro impulsionado pela tecnologia, é fácil perder a emoção genuína de dirigir. Mas no futuro moldado pela Lamborghini, isso não
                                                 ficará para trás.
                                                 POTÊNCIA (CV) / POTÊNCIA (KW)
                                                 770 CV / 566 kW
                                                 
                                                 MÁX. RAPIDEZ
                                                 >350 km/h
                                                 
                                                 0-100km/h
                                                 2,8 segundos</p>
                                            <div class="d-flex justify-content-center">
                                                
                                                <a href="https://www.lamborghini.com/en-en/models/aventador/aventador-svj" target='_blank'
                                                    class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/Ferrari-f12 (3).jpg" class="card-img-top img-fluid w-100"
                                            alt="print do blog">
                                        <div class="card-body">
                                            <h5 class="card-title">Ferrari 812 Superfast</h5>
                                            <p class="card-text">A Ferrari confirmou a chegada do 812 Superfast ao Brasil em fevereiro de 2022 por cerca de R$ 3.950.000. 
                                                 é o modelo mais potente já produzido pela Ferrari,
                                                 Sob o capô,traz um V12 6.5 que entrega 800 cv a 8.500 rpm e 73,2 mkgf a 7.000 rpm, Segundo a Ferrari, o modelo vai de 0 a 100 km/h em incríveis 2,9 segundos e atinge a velocidade máxima de 340 km/h.</p>
                                            <div class="d-flex justify-content-center">
                                               
                                                <a href="https://pokedex-thicode.herokuapp.com/" target='_blank'
                                                    class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="carousel-item" data-bs-interval="2000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card h-100">
                                        <img src="../static/img/rs7.jpg" class="card-img-top img-fluid w-100"
                                            alt="print do blog">
                                        <div class="card-body">
                                            <h5 class="card-title">AUDI RS7-R SPORTBACK BY ABT SPORTSLINE: UMA EDIÇÃO LIMITADA MAIS EXTREMA 
                                                DO ESPORTIVO ALEMÃO</h5>
                                            <p class="card-text"> ABT Sportsline já está há vários meses trabalhando sobre o novo Audi RS 7 Sportback,
                                                Tudo começa com o motor V8 biturbo de 4.0 litros que impulsiona o ABT RS7-R 2020, que gera até 740 cv de potência e um torque máximo de 920 Nm.a
                                                 potência em 140 cv e o torque em 120 Nm. No entanto, o preparador alemão sediado em Kempten não revelou seu novo desempenho, mas achamos que 3.6 segundos no 
                                                sprint de 0 a 100 km/h e na velocidade máxima de 305 km/h, números de fábrica.</p>
                                            <div class="d-flex justify-content-center">
                                                
                                                <a href="https://www.car.blog.br/2020/04/audi-rs7-r-vai-740-cv-com-preparacao-da.html" target='_blank'
                                                    class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card h-100">
                                        <img src="../static/img/mclaren-720s.jpg" class="card-img-top img-fluid w-100"
                                            alt="print do blog">
                                        <div class="card-body">
                                            <h5 class="card-title">McLaren-720s</h5>
                                            <p class="card-text">O McLaren 720S é ostensivo e radical. Responsivo a superpredadores. A aceleração vai de 0 a 60 mph em incríveis 2,8 segundos quando desejado. E pode chegar a um quarto de milha em 10,4 segundos a partir da inércia.

                                                Porém, esses números não revelam a história completa. Há também puro envolvimento do motorista e luxo contemporâneo. Em todos os detalhes. Um equilíbrio eletrizante, acessível e natural.
                                                
                                                Evolução a plena velocidade.</p>
                                            <div class="d-flex justify-content-center">
                                                
                                                <a href="https://cars.mclaren.com/br-pt/super-series/720s" target='_blank'
                                                    class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card h-100">
                                        <img src="../static/img/Audi-RS-e-tron-GT_2.jpg" class="card-img-top img-fluid w-100"
                                            alt="print do blog">
                                        <div class="card-body">
                                            <h5 class="card-title">Audi RS e-tron GT</h5>
                                            <p class="card-text">Graças ao seu sistema de tração integral quattro 100% elétrico, o Audi RS e-tron GT entrega uma potência impressionante. O design escultural do Audi RS e-tron
                                                 GT combina as proporções dinâmicas de um gran turismo com as características inconfundíveis da linha Audi RS.</p>
                                            <div class="d-flex justify-content-center">
                                                
                                                <a href="https://www.audi.com.br/br/web/pt/models/e-tron-gt/audi-rs-e-tron-gt.html" target='_blank'
                                                    class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>
        </section>

       
        <section class="pt-5 pb-5" id="contato">

            <div class="containercontato mb-5">
                <h2 class='pt-3 pb-3'>Contato</h2>

                <div class="row">

                    <div class="col-md-5">
                        <div class="card p-5 shadow border-0" data-anime="up">
                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt"></i> Localização:</h4>
                                <p>Assare, CE</p>
                            </div>

                            <div class="email">
                                <h4><i class="bi bi-envelope"></i> Email:</h4>
                                <p>commandcar@gmail.com</p>
                            </div>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d253488.36774522415!2d-40.00612572
                            213474!3d-6.919776807128185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7a20f0bcdfca897%3A0x7
                            f8145adc804a3da!2sAssar%C3%A9%20-%20CE!5e0!3m2!1spt-BR!2sbr!4v1652544050741!5m2!1spt-BR!2sbr" 
                            width="400" height="300" style="border:0;" 
                            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                           
                        </div>
                    </div>

                    <div class="col-md-7 mt-5 mt-md-0">
                        <div class="card p-5 h-100 shadow border-0" data-anime="left">

                            <form class="row g-3" action='/send' method="POST">
                                <div class="col-md-6">
                                    <label for="nome" class="form-label">Nome:</label>
                                    <input type="text" class="form-control" id="nome" name='nome'
                                        placeholder='Digite seu nome' required>
                                </div>
                                <div class="col-md-6">
                                    <label for="email" class="form-label">Email:</label>
                                    <input type="email" class="form-control" id="email" name='email'
                                        placeholder='Digite seu email' required>
                                </div>

                                <div class="col-12">
                                    <label for="mensagem" class="form-label">Mensagem:</label>
                                    <textarea type="text" class="form-control" id="mensagem" name='mensagem' rows="10"
                                        placeholder="Digite sua mensagem" required></textarea>
                                </div>


                                <div class="col-12 d-flex justify-content-center mt-4">
                                    <button id='btn-enviar' type="submit" class="btn btn-primary">Enviar
                                        mensagem</button>

                                    <button id='btn-enviar-loader' class="btn btn-primary" type="button" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                            aria-hidden="true"></span>
                                        Enviando...
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
            </div>

        </section>


        <footer>
            <div class="main-content">
                <div class="left box">
                    <h2> Command Car</h2>
                    <div class="content">
                         <img src="../static/img/logo.jpeg" width="150px" alt="">
                        <p>
                            
                      Loja feita ideal para realizar seu sonho automotivo!.Com os melhores carros do mercado, aquele bom preco</p><br>
                   </div>
                </div><!--left box-->
                <div class="center box">
                    <h2>Redes Sociais</h2>
                    <div class="content">
                        <div class="place">
                           
                            <span class="text"><i class="bi bi-facebook"></i> Command Car</span>
                        </div>
    
                        <div class="phone">
                            
                            <span class="text"> <i class="bi bi-whatsapp"></i> +55 (88) 992453877</span>
                        </div>
                        <div class="phone">
                      
                            <span class="text"><i class="bi bi-instagram"></i> @CommandCar </span>
                        </div>
    
                        <div class="email">
                         
                            <span class="text"> <i class="bi bi-envelope-fill"></i> commandcar@gmail.com</span>
                        </div>
                    </div>
                </div>
        </footer>
</main>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>