<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type='image/png' href="../static/img/logo.jpeg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Command Car</title>
</head>

<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id='header'>
        <section class="command">
            <img src="../static/img/logo.jpeg" alt="Foto perfil">
            <h1>Command Car</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="#">
                    <i class="bi bi-facebook"></i>
                </a>
                <a target="_blank" href="#">
                    <i class="bi bi-whatsapp"></i>
                </a>
                <a target="_blank" href="#">
                    <i class="bi bi-envelope"></i>
                </a>
                <a target="_blank" href="#">
                    <i class="bi bi-instagram"></i>
                </a>
            </div>
        </section>

        <nav id='navbar' class="nav-menu">
            <ul class="nav flex-column">
                  
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="index.html"><i class="bi bi-house"
                            aria-hidden="true"></i> Inicio</a>
                </li>
               
                <li class="nav-item"id="passar_mouse">
                  <a class="nav-link" href="catalogo.html"><i class="bi bi-grid-fill"></i>Catalogo</a> 
                   
                </li> 
                <li class="nav-item"id="passar_mouse">
                    <a class="nav-link" href="servicos.html"><i class="bi bi-tools"></i>Serviços</a> 
                     
                  </li> 
               
               
                <li class="nav-item">
                  <button> <a class="nav-link" href="login.html"><i class="bi bi-info" aria-hidden="true"></i> Login</a></button>
              </li>
            </ul>
        </nav>
    </aside>
    <main>
      <div id="textp">
       <h1><i class="bi bi-tools"></i>Serviços</h1>
      </div>
      <br>
        <div class="servico11">

          
           
            <div class="cardS card-1">
              
              <div class="cardS-header">
                <img src="../static/img/servico1.webp"  class="card-img" />
              </div>
            
              <div class="cardS-body">
                <h3 class="cardS-local">A Revisão Command Car tem uma oficina de vantagens</h3>
               
                <p class="cardS-texto">
                    Faça a manutenção preventiva pra cuidar do seu carro com mecânicos especializados e ofertas imperdíveis.
                </p>
              </div>
             
              <div class="cardS-footer">
                
              </div>
             
            </div>
           
            <div class="cardS card-2">
             
              <div class="cardS-header">
                <img src="../static/img/Carro-blindado.jpg" class="card-img" />
              </div>
              
              <div class="cardS-body">
                <h3 class="cardS-local">Brindagem de Carros</h3>
               
                <p class="cardS-texto">
                  Blindar um carro é de alta complexidade 
                  e por isso bastante caro: os custos podem facilmente equivaler ao valor do carro e não raramente o superam.  
                </p>
              </div>
             
              <div class="cardS-footer">
                
              </div>
             
            </div>
           
            <div class="cardS card-3">
             
              <div class="cardS-header">
                <img src="../static/img/servico3.webp" class="card-img" />
              </div>
             
              <div class="cardS-body">
                <h3 class="cardS-local">Tutoriais que são uma mão na roda</h3>
                
                <p class="cardS-texto">
                    Aprenda a forma mais fácil de aproveitar toda a tecnologia e conectividade que só a Command Car oferece.
                </p>
              </div>
             
              <div class="cardS-footer">
               
              </div>
              
            </div>
            
           
          </div>
          <br>

          <section>
            <div class="cardservico mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="../static/img/recall.webp" width="400px" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="carde-title">Service 24h</h5>
                    <p class="card-text">Além da garantia de fábrica,no seu carro na Command Car você conta com uma série de serviços complementares de assistência. Em caso de panes elétricas ou mecânicas, que impeçam o veículo de se locomover por meios próprios, você pode contar com uma assistência 24 Horas, 365 dias por ano, em todo o Brasil, válida por 12 meses contados a partir da aquisição de seu Carro.</p>
                    <p class="card-text">Para acionar, basta ligar para a central de atendimento no telefone: 0800 019 5775. Tenha em mãos o número do chassi do veículo (encontrado no documento ou gravado nos vidros do veículo), nome do proprietário, motivo da chamada, o local em que seu veículo se encontra e sempre que possível, um ponto de referência.</p>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <br>
          <section id="menudrop">

            <nav class="nav-bar22">
              
              <div class="nav-list22">
                  <ul>
                      <li class="nav-item22"><a href="#pecas" class="nav-link22"><i class="bi bi-gear"></i>Peças</a></li>
                      <li class="nav-item22"><a href="#lubrificantes" class="nav-link22"><i class="bi bi-hurricane"></i>Lubrificantes</a></li>
                      <li class="nav-item22"><a href="#pneus" class="nav-link22"><i class="bi bi-check-circle"></i>Pneus</a></li>
                      <li class="nav-item22"><a href="#kits" class="nav-link22">Kits</a></li>
                      <li class="nav-item22"><a href="#revisao" class="nav-link22"><i class="bi bi-exclamation-square"></i>Revisão</a></li>
                      <li class="nav-item22"><a href="#acessorio" class="nav-link22"><i class="bi bi-stack"></i>Acessórios</a></li>
                      <li class="nav-item22"><a href="agenda.html" class="nav-link22"><i class="bi bi-calendar3-event"></i> Agendar servicos</a></li>
                  </ul>
              </div>
            
          </nav>
          
          </section>
          <section id="pecas">
                <div class="textp1"><H1>Peças</H1></div>
                            
                    <h2>Se a qualidade é legítima, você tem o melhor</h2>
                <p>As Genuine Parts GM são projetadas e fabricadas especificamente para os modelos Chevrolet, mantendo a originalidade do seu veículo. Quando precisar de ajuda, consulte os mecânicos do Serviço 
                  Chevrolet. Eles deixarão seu veículo como novo.</p>

                  <h2>100 anos de inovação em soluções automotivas</h2>

                  <p>Com mais de um século de existência e grande prestígio internacional, ACDelco é uma das principais marcas da General Motors. Ela oferece aos clientes um variado portfólio de produtos como baterias, correias, cabos de
                     velas, filtros, lubrificantes, palhetas dentre outros.  </p>

          </section>
          <section id="lubrificantes">
            <div class="cardservico1 mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="../static/img/lubrificante-02.webp" width="400px" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="carde-title">Lubrificantes</h5>
                    <h6>Para que serve?</h6>
                    <p class="card-text">1-Reduz o atrito entre peças metálicas em movimento, minimiza o desgaste e amplia a vida útil do motor;</p>
                    <p class="card-text">2-Ajuda na refrigeração dos componentes do motor;</p>
                    <p class="card-text">3-Auxilia na manutenção da limpeza do motor;</p>
                    <p class="card-text">4-Evita ferrugem, desgaste corrosivo e formação de resíduos e sedimentos;</p>
                    <p class="card-text">5-Facilita a partida em baixas temperaturas.  </p>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <br>
          <section id="pneus">

            <div class="cardservico1 mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="../static/img/pneu.webp" width="500px" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="carde-title">Pneus</h5>
                    <h6>Boas práticas: balanceamento, pressão e rodízio dos pneus</h6>
                    <p class="card-text">1-Calibrar o pneu semanalmente de acordo com a indicação de pressão do manual do proprietário;</p>
                    <p class="card-text">2-Fazer o rodízio de pneus regularmente;</p>
                    <p class="card-text">3-Evitar sobrecarga no veículo;</p>
                    <p class="card-text">4-Utilizar as medidas de pneus e rodas indicadas no manual do proprietário;</p>
                    <p class="card-text">5-Evitar a direção agressiva, com freadas fortes e mudanças bruscas de direção;</p>
                  </div>
                </div>
              </div>
            </div>
          </section> 
          <br> 
          <section id="kits">

            <div class="cardservico1 mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="../static/img/filtro-de-ar.webp" width="100px" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="carde-title">Kits</h5>
                    <h6>Confira os nossos Kits e rode tranquilo</h6>
                    <p class="card-text">Evita que os abrasivos metálicos derivados do atrito das partes móveis do motor circulem em seu interior.

                      Filtro de combustível Chevrolet
                      Filtro de Combustível
                      Evita que os contaminantes do combustível entrem e danifiquem o motor e os bicos injetores.
                      Filtro de ar Chevrolet
                      Filtro de Ar
                      Evita que os contaminantes presentes no ar, como poeira e fuligem entrem e danifiquem o motor e os bicos injetores.</p>
                   
                  </div>
                </div>
              </div>
            </div>
          </section> 
          <br>
          <section id="revisao">

            <div class="cardservico1 mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="../static/img/revisao.jpg" width="100px" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="carde-title">REVISÃO</h5>
                    <h6> </h6>
                    <p class="card-text">Então, não deixe de fazer as revisões regularmente para rodar 
                      por aí com toda tranquilidade e segurança.A realização da revisão programada é a certeza de manter sempre em dia. Você ainda conta com mão de obra especializada, peças genuínas, tecnologia de ponta e atendimento diferenciado. Além disto, a linha de lubrificantes e fluídos MOPAR OIL utilizada nas revisões programadas, foi desenvolvida especialmente para os motores. Consulte o Manual de Uso e Manutenção ou o Manual de Garantia do seu carro e confirme quando você deverá realizar a revisão. Com a revisão programada em dia na nossa rede de concessionárias, você mantem a garantia de fábrica. </p>
                   
                  </div>
                </div>
              </div>
            </div>
          </section> 
          <br> 
          <section id="acessorio">

            <div class="cardservico1 mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="../static/img/acessorio.png" width="100px" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="carde-title">Acessórios</h5>
                    <h6>Personalize seu carro com acessórios</h6>
                    <p class="card-text">Você tem seu próprio estilo. É por isso que a Chevrolet disponibiliza uma completa linha de acessórios automotivos para deixar seu carro com a sua cara. São diversos itens de aparência externa e interna para complementar o visual do veículo, além de câmeras de ré, sensores, alarmes, travas de rodas, estepe e vários outros itens que proporcionam maior segurança a todos os ocupantes do veículo, sem falar de uma gama de acessórios de proteção que ajudam a cuidar ainda mais do seu patrimônio, como revestimento premium dos bancos, soleiras, frisos, protetores de cárter, de caçamba entre outros. Todos eles possuem um alto padrão de qualidade e a garantia GM para que você possa personalizar seu veículo com total segurança usando os acessórios originais da Chevrolet. Escolha um dos modelos e confira todos os acessórios 
                      disponíveis para equipar o seu veículo. Aproveite.</p>
                   
                  </div>
                </div>
              </div>
            </div>
          </section> 
          <br>   
             
    </main>
    
</body>
</html>